<main class="page-wrapper">
  <app-header [btnTrigger]="triggerMobileMenu"></app-header>
  <nz-drawer [nzClosable]="false" [nzVisible]="drawerSidebarVisible"
             [nzBodyStyle]="{padding: 0}"
             nzPlacement="left" nzTitle="Basic Drawer" (nzOnClose)="drawerSidebarVisible=false">
    <app-sidebar></app-sidebar>
  </nz-drawer>
  <section class="main-wrapper">
    <div nz-row>
      <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="7" [nzXl]="5" [nzXXl]="4" class="sidebar-bg">
        <app-sidebar [ngClass]="{'md-hidden': !openMobileMenu}" [itemTrigger]="triggerMobileMenu"></app-sidebar>
      </div>
      <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="17" [nzXl]="19" [nzXXl]="20" class="content-bg">
        <article class="content-container">
          <router-outlet></router-outlet>
          <app-dashboard></app-dashboard>
        </article>
        <nz-footer class="text-center">Ant Design ©2017 Implement By Angular</nz-footer>
      </div>
    </div>
  </section>
</main>
